@model IEnumerable<PPPK_Project.Models.Driver>

@{
    ViewBag.Title = "AllDrivers";
}

<h2>AllDrivers</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DriverLicenceNumber)
        </th>
        <th></th>
    </tr>

@foreach (PPPK_Project.Models.Driver d in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => d.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => d.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => d.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => d.DriverLicenceNumber)
        </td>
        <td>
            <div onclick="window.location.href= '@Url.Action("Driver", "Driver", new { id = d.DriverID})'" class="btn btn-success">Edit</div>
            <form name="f" method="post" action="/api/v1/PPPK_Project.Models.Driver/@d.DriverID">
            <button type="submit" class="btn btn-danger">Delete</button>
        </td>
    </tr>
}

</table>
<p>
    <div onclick="window.location.href= '@Url.Action("InsertDriver", "Driver")'" class="btn btn-primary">Insert new</div>
</p>
