
@{
    ViewBag.Title = "Index";
}

<h2>HomeView</h2>

<style>

</style>

<div class="center">
    <ul>
        <li>
            <div onclick="window.location.href= '@Url.Action("AllDrivers","Driver")'" class="btn btn-primary">Drivers</div>
        </li>
        <li>
            <div onclick="window.location.href= '@Url.Action("Index","Vehicle")'" class="btn btn-primary">Vehicles</div>
        </li>
        <li>
            <div onclick="window.location.href= '@Url.Action("Index","TravelWarrant")'" class="btn btn-primary">Travel Warrants</div>
        </li>
        <li>
            <div onclick="window.location.href= '@Url.Action("BackupDB","Home")'" class="btn btn-primary">Backup Datebase</div>
        </li>
        <li>
            <div onclick="window.location.href= '@Url.Action("ClearDB","Home")'" class="btn btn-primary">Clear Database</div>
        </li>
        <li>
            <div onclick="window.location.href= '@Url.Action("RestoreDB","Home")'" class="btn btn-primary">Restore Database</div>
        </li>
    </ul>
</div>